.footer {
  height: 50px;
  margin-top: 75px;
  margin-bottom: 0px;
  background-color: rgba(252, 82, 0, 0.9);
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer__grid-1 {
  /* margin-left: 175px; */
  /* width: 5px;
  height: 5px; */
}

.footer__img__icon {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  animation-name: lava;
  animation-duration: 30s;
  animation-iteration-count: infinite;
}

.footer__image__label {
  margin-right: 30px;
  margin-top: 10px;
  font-size: x-large;
  font-weight: 900;
  font-family: 'Montserrat Subrayada', sans-serif;
}

.footer__grid-container {
  display: grid;
  grid-template-columns: 3fr 2.5fr 2.5fr 2.5fr 1fr;
}

.footer__grid-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 50px;
}

.footer__grid-2, .footer__grid-3, .footer__grid-4, .footer__grid-5 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer__grid-5 {
  background-color:  rgba(252, 82, 0, 0.8); 
}

.github__links__creator {
  height: 33px;
  width: 150px;
  border-radius: 4px;
  text-decoration: none;
  background-color: white;
  text-align: center;
  align-content: center;
  margin-top: 7px;
  color: black;
}

 .github__links__creator:hover {
  transform: scale(1.83);
}

.footer__span__names {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
}

@keyframes lava {
  0%   {
        
      }
  10%  {
        
      }
  20%  {
        
      }
  30%  {
        
        }
  40%  {
        
      }
  50%  {
        
      }
  60%  {
  }
  70%  {
    .footer__image__label {
      color: red;
    }
  }
  88%  {
    box-shadow: 0px 0px 0px 0px rgba(235, 167, 43, 0.5);
    background-color: rgba(255,0,0,0.3); 
      }
  90%  {
    box-shadow: 0px -40px 60px 20px rgba(255, 0, 0, 1);  
      }
  92% {
    box-shadow: 0px 0px 0px 0px rgba(235, 167, 43, 0.5);
  }
 100%  {
 
      }
}

