.navbar {
    margin: 0 auto;
    height: 80px;
    max-width: 1200px;
    overflow: hidden;
    text-decoration: none;
}

.navbar__home {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 5px;
    height: 5px;
    margin-left: 50px;
    border-radius: 50%;
    animation-name: lava;
    animation-duration: 60s;
    animation-iteration-count: infinite;
}

.img__icon {
    height: 60px;
    width: 80px;
    margin-top: 5px;
    margin-left: -40px;
}

.navbar__grid-container {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 4fr 1fr;
}

.navbar__grid {
    display: grid;
    overflow: hidden;
    text-decoration: none;
}

.navbar__div__dropdown-container {
    float: left;
    overflow: hidden;
    width: 180px;
    height: 40px;
    border-radius: 5px;
    margin-top: 20px;
    
}

.navbar__button__dashboard {
    margin: auto;
    width: 180px;
    background-color: white;
    color: black;
    border: none;
}

.navbar__img__down-arrow {
    margin-left: 5px;
}

.navbar__button__dashboard:hover {
    margin: auto;
    background-color: white;
    color: #fc5200;
    /* border: 1px solid black;
    border-bottom: 1px solid white; */
}

.navbar__div__dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1; 
}

 .navbar__grid-link-1, .navbar__grid-link-2, .navbar__grid-link-3 {
     text-decoration: none;
     padding: 20px;
     font-weight: 400;
     color: black;
} 

.navbar__grid-link-1:hover, .navbar__grid-link-2:hover, .navbar__grid-link-3:hover {
    background-color: #ddd;
    font-weight: 700;
    color:rgba(252, 82, 0, 1);
}

.navbar__div__dropdown-container:hover .navbar__div__dropdown-content {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.navbar__div__dropdown-container:hover  {
    background-color: #ddd;

}

.navbar__img__running {
    margin-top: -30px;
    margin-right: -40px;
    cursor: pointer;
}

.navbar__logout-button {
    display:flex;
    margin-right: 10px;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}

.navbar__button__logout {
    background-color:rgba(252, 82, 0, 1);
    width: 100px;
    border: .5px solid grey;
}

@keyframes lava {
    0% {
    }
    10% {
    }
    20% {
    }
    30% {
    }
    40% {
    }
    50% {
    }
    60% {
    }
    70% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
        background-color: white;
    }
    80% {
        box-shadow: 0px 0px 100px 100px rgba(255, 0, 0, 1);
        background-color: rgba(255, 0, 0, 0.8);
    }
    90% {
    }
    100% {
    }
}
.navbar__grid-link {
    text-decoration: none;
}
