.routes__div__banner {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.routes__button__new-route {
  width: 180px;
  background-color:rgba(252, 82, 0, 1);
  margin-left: 0px;
}

.main__div__container {
  display: inline-flex;
  flex-direction: column;
  margin-top: 5px;
  margin-left: 25px;
  margin-bottom: 45px;
  padding: 20px;
}


.routes__card__container {
  display: inline-flex;
  width: 200px;
  height: 575px;
  background-color: #f7f7f7;
  flex-direction: column;
  border: 1px solid #ccf;
  border-radius: 5px;
  padding: 0;
  transition: transform .2s;
}

.routes__card__container:hover {
  transform: translate(10px, -10px);
  box-shadow: -4px -4px 16px rgba(0, 0, 0, 0.7);
}

.routes__h2__name {
  text-align: center;
  height: 10%
}

.routes__div__description {
  font-style: italic;
  border: 1px solid #fc5200;
  height: 25%;
  border-radius: 25px;
  padding: 10px;
  align-items: center;
  box-shadow: 2px 2px 8px #fc5200;
}

.routes__div__description:hover {
  transform: scale(1.5);
  background-color: rgba(252, 82, 0, 0.7);
  font-style: normal;
  color: white;
  text-shadow: 1.5px 1.5px black;
  padding: 10px;
  align-items: center;
}

.routes__div__distance {

}

.routes__span__createdAt {
  font-weight: 800;
}

.routes__h5__createdAt {
  margin-top: 0px;
}