.single__route__container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main__div__map-container {
  width: 600px;
  height: 400px;
}

.single__route__run__button{
  /* height: 100px;
  width: 200px */
}