.wrapper__login {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 800px;
  background: url('../../images/lava-field.jpg');
  background-size: cover;
}

.form__wrapper__login{
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  width: 400px;
  height: 450px;
  background: linear-gradient(
    to bottom,
    rgba(214, 140, 140, 0.8) 0%,
    rgba(199, 197, 197, 0.8) 12%,
    rgba(255, 255, 255, 0.8) 30%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(255, 255, 255, 0.8) 70%,
    rgba(199, 197, 197, 0.8) 88%,
    rgba(214, 140, 140, 0.8) 100%
  );
  box-sizing: border-box;
  border-radius: 5px;
}

.form__login {
  height: 100%;
  width: 100%;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  padding: 50px;
  box-sizing: border-box;
  border-radius: 5px;
}

.form__login h2 {
  margin-bottom: 30px;
  color: black;
  text-align: center;
}

.wrapper__login .form__login {
  position: relative;
}

.wrapper__login .form__login input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: black;
  letter-spacing: 1px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  box-shadow: 0 2px 10px #e0682c;
  outline: none;
  background: transparent;
}

.wrapper__login .form__login label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.wrapper__login .form__login input:focus ~ label,
.wrapper__login .form__login input:focus ~ label {
  top: -20px;
  left: 0;
  color: #03a9f4;
  font-size: 12px;
}

.form__login input[type="submit"] {
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  background: #03a9f4;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

button {
  background-color: #fc5200;
  color: white;
  height: 40px;
  width: 80px;
  border-radius: 5px;
  font-weight: 900;
  margin-left: 37%;
  cursor: pointer;
}