
/* .new-rating-header > i {
    font-size: 20px;
    color: black;
    padding-right: 5px;
    padding-top: 10px;
    cursor: pointer;
} */

.new-rating-form-holder-open {
  position: absolute;
  background: linear-gradient(-45deg, rgba(238, 80, 1, 0.7), #ca6b3c);
  background-size: 800%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40%;
  width: 30%;
  top: 30%;
  left: 35%;
  right: 35%;
  bottom: 30%; 
  z-index: 10;
  overflow-y: scroll;
  scrollbar-width: none;
  overflow-x: hidden;
}

.new-rating-form-holder-open::-webkit-scrollbar{
  display: none;
}

.scale-up-center {
	-webkit-animation: scale-up-center 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both, flow 8s ease-in-out infinite;
          animation: scale-up-center 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both, flow 8s ease-in-out infinite;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes flow {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes flow {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.new-rating-form-holder-open::-webkit-scrollbar{
  display: none;
}

.new-rating-form-holder-close {
  position: absolute;
  display: none;
  background: linear-gradient(-45deg, rgba(238, 80, 1, 0.7), #ca6b3c);
  background-size: 800%;
  flex-direction: column;
  align-items: center;
  height: 40%;
  width: 30%;
  z-index: 10;
  overflow: hidden;
}

.new-rating-header{
  height: 45px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.new-rating-form-title{
  height: 100%;
  width: 100%;
  text-align: center;
  color: black;
  /* background-color:rgba(255, 255, 255, 0.5); */
  font-size: 30px;
  padding-top: 18px;
}

.new-rating-form-container-background{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  height: 300px;
  width: 100%;
  overflow: scroll;
  background-color: white;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 25px; */
}

.new-rating-main-form-container{
  margin-top: 20px;
  margin-bottom: 20px;
  height: 90%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#new-rating-load-screen-image-top{
	position: absolute;
	height: 18vh;
  width: 120vw;
  margin-top: 2vh;
	animation: ratingloadright 10s infinite ease-in-out;
	z-index: -1;
}

.single-workout-stats{
  margin-bottom: 10px;
}

.single-workout-stats-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 300px;
  height: 40px;
  border-radius: 5px;
  margin: 5px;
}

.single-workout-stats-route-completed{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 190px;
  height: 100%;
  font-weight: 800;
  background-color:rgba(238, 80, 1, 0.7);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.single-workout-stats-route-completed-percentage{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
  font-weight: 800;
  height: 100%;
  width: 80px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

/*************** @MEDIA QUERIES ***************/